// COLORS 
$color-almost-black: #263238;
$color-almost-black-72: rgba($color-almost-black, 0.72);
$color-almost-black-64: rgba($color-almost-black, 0.64);
$color-almost-black-8: rgba($color-almost-black, 0.08);
$color-light-gray: #c8c8c8;
$color-white: #fff;
$color-body: #eceff1;
$color-hb-green: #4caf50;
$color-hb-yellow: #ffeb3b;
$color-hb-red: #f44336;
$color-frozen: #048fa5;
$color-purple: #5e35b1;
$color-yellow: #ffd600;
$color-cyan: #00acc1;
$color-black: #212121;
$color-atk: #388e3c;
$color-end-turn: #d32f2f;

// $black: #212121;
// $yellow: #ffd600;
// $cyan: #00acc1;
// $purple: #5e35b1;
// $frozen: #048fa5;
// $sky-blue: #2196f3;