.button {
    outline: none;
    border: none;
    background-color: $sky-blue;
    color: rgba(255, 255, 255, 0.80);
    cursor: pointer;
    transition: background-color 250ms;
    &:hover {
        background-color: #1e88e5;
    }
}

.play-button {
    padding: 16px 72px;
    font-size: 48px;
    border-radius: 8px;
    z-index: 200;
}

.new-game-button {
    padding: 16px 32px;
    @include font-24;
    border-radius: 4px;
    outline: none;
    border: none;
    font-weight: bold;
}