body {
    display: flex;
}

.columns {
    display: flex;
    justify-content: center;

    &__column.column-1,
    &__column.column-3 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__column.column-2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

.player-health-container {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;

    // .player-units {
    //     display: flex;
    //     justify-content: space-between;
    // }
}

// .player-info.player-1 {
//     align-self: flex-end;
// }

// .modal {
//     &__heads-or-tails {

//         .heads-or-tails {

//             display: flex;
//             justify-content: space-between;

//             &__coin {
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//             }
//         }
//     }
// }

.zone {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-battle {
    display: flex;
    align-items: center;

    .atk,
    .end-turn {
        // display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-number {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.winning-message {
    display: flex;
    flex-direction: column;
    align-items: center;
}